@font-face {
  font-family: 'NewRocker-Regular' ;
  src: url(./fonts/NewRocker-Regular.ttf);
}

* {
  font-family: 'NewRocker-Regular', monospace;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;

  color:white;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 27%, rgba(0,212,255,1) 100%);;
}